.page-selection {
  margin-left: 20px;
}

#pageSelect {
  padding: 5px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  width: 45px;
  margin-left: 10px;
}

#pageSelect:focus {
  border-color: #0676eebc;
  outline: none;
}
